body {
    font-family: 'Arial', sans-serif;
    background: #f9f9f9;
}

.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ocupa toda la altura de la ventana */
    background: #f9f9f9; /* Fondo claro */
}

.password-card {
    background: #fff; /* Fondo blanco */
    border-radius: 16px; /* Bordes redondeados */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    padding: 2rem;
    max-width: 400px; /* Ancho máximo */
    width: 100%;
}

.password-form label {
    display: block;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #333; /* Texto oscuro */
}

.password-form input {
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
}

.password-form input:focus,
.password-form input:hover {
    outline: none; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.button-group {
    display: flex;
    justify-content: space-between; /* Espaciado entre los botones */
    margin-top: 20px;
}

.back-btn {
    background-color: #2e2c2c;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    color: #fff; /* Texto blanco */
    transition: background 0.3s ease;
}

.back-btn:hover {
    background-color: #201f1f;
}

.save-password-btn {
    background-color: #fdd835;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    color: #463e1c;
    transition: background 0.3s ease;
}

.save-password-btn:hover {
    background-color: #be9f10;
}