* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3f3f3;
    position: relative;
}
.header {
    position: fixed; /* Fija el header en la parte superior */
    top: 0; /* Asegura que esté en la parte superior */
    left: 0;
    width: 100%; /* Ocupa todo el ancho de la página */
    display: flex;
    justify-content: space-between; /* Espacia el logo y el botón de atrás */
    align-items: center;
    padding: 5px 20px; /* Reduce el padding para disminuir la altura */
    background-color: transparent; /* Elimina el fondo del header */
    box-shadow: none; /* Elimina la sombra */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    height: auto; /* Permite que la altura se ajuste automáticamente */
}

/* Estilo para el logo */
.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 120px;
    height: auto;
}
/* Estilo para el botón de atrás */
.back-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #333;
}
.container {
    display: flex;
    width: 75%;
    height: 75%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(240, 201, 26);
    margin-top: 80px;
}
.form-section {
    width: 50%;
    padding: 40px;
}
.form-section h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
.form-section p {
    color: #020202;
    font-size: 16px;
    margin-bottom: 20px;
}
.form-section a {
    color: #0070e7;
    text-decoration: none;
    font-weight: bold;
}
.form-section form label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    font-size: 14px;
}
.form-section form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}
.form-section button {
    width: 50%;
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px auto 0; /* Centra el botón horizontalmente y añade margen superior */
    display: block; /* Asegura que el botón se comporte como un bloque para centrarlo */
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}
.image-section {
    width: 50%;
    background-color: #000;
}
.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}