<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/png" href="../assets/icons/logo.png">
    <link rel="stylesheet" href="../assets/css/change-password.css">
</head>
<body>
    <div class="password-container">
        <div class="password-card">
            <form class="password-form">
                <label>
                    Contraseña actual:
                    <input type="password" placeholder="Introduce tu contraseña actual" />
                </label>
    
                <label>
                    Nueva contraseña:
                    <input type="password" placeholder="Introduce tu nueva contraseña" />
                </label>
    
                <label>
                    Confirmar nueva contraseña:
                    <input type="password" placeholder="Confirma tu nueva contraseña" />
                </label>
    
                <div class="button-group">
                    <button type="button" class="back-btn">Volver atrás</button>
                    <button type="submit" class="save-password-btn">Guardar contraseña</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>