<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FlexiCoche - Login</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/assets/css/login.css" />
  </head>
  <body>
    <header class="header-container">
      <h1 class="logo">FlexiCoche</h1>
      <div class="auth-icons">
        <a href="login.html" class="icon"><i class="fas fa-user"></i> Login</a>
        <a href="register.html" class="icon"
          ><i class="fas fa-user-plus"></i> Register</a
        >
      </div>
    </header>

    <!-- Scripts en orden correcto -->
    <script
      type="module"
      src="/js/modules/components/user.component.js"
    ></script>
    <script type="module" src="/js/modules/pages/user.page.js"></script>
  </body>
</html>
