<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/register.css">
    <title>Registro</title>
</head>
<body>
    <button class="menu-button">☰</button>
    <div class="container">
        <!-- Sección de la imagen -->
        <div class="image-section">
            <img src="../assets/img/imgRegister.png" alt="Autos">
        </div>
        
        <!-- Sección del formulario -->
        <div class="form-section">
            <h2>Crear una cuenta</h2>
            <p>¿Ya estás registrado? <a href="../templates/login.html">Inicia sesión.</a></p>
            
            <form>
                <label>NOMBRE</label>
                <input type="text" id="nombre" placeholder="Nombre" required>
                
                <label>APELLIDOS</label>
                <input type="text" id="apellidos" placeholder="Apellidos" required>

                <label>EMAIL</label>
                <input type="email" id="correo" placeholder="email@gmail.com" required>
                
                <label>CONTRASEÑA</label>
                <input type="password" id="password" placeholder="******" required>
                
                <button type="submit">Crear cuenta</button>
            </form>
        </div>
    </div>
   
    <script type="module" src="/js/modules/pages/register.page.js"></script>

</body>
</html>