<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/register.css">
    <title>Registro</title>
    <link rel="icon" type="image/png" href="../assets/icons/logo.png">
</head>
<body>
    <header class="header">
        <div class="logo-container">
            <img src="../assets/images/logo.png" alt="Logo FlexiCoche" class="logo">
        </div>
        <!-- Botón para ir atrás -->
        <button class="back-button" onclick="window.location.href='../index.html'">Atrás</button>
    </header>
    <div class="container">
        <!-- Sección de la imagen -->
        <div class="image-section">
            <img src="../assets/images/imgRegister.png" alt="Autos">
        </div>
        
        <!-- Sección del formulario -->
        <div class="form-section">
            <h2>Crear una cuenta</h2>
            <p>¿Ya estás registrado? <a href="../templates/login.html">Inicia sesión.</a></p>
            
            <form>
                <label>USUARIO</label>
                <input type="text" id="user" placeholder="Usuario" required>

                <label>EMAIL</label>
                <input type="email" id="correo" placeholder="email@gmail.com" required>
                
                <label>CONTRASEÑA</label>
                <input type="password" id="password" placeholder="******" required>

                <label>REPETIR CONTRASEÑA</label>
                <input type="password" id="rep-password" placeholder="******" required>
                
                <button type="submit">Crear cuenta</button>
            </form>
        </div>
    </div>
   
    <!--<script type="module" src="/js/modules/pages/register.page.js"></script>-->

</body>
</html>